*{
    margin: 5px 5px 5px 10px;
}
p{
    font-size:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 10px solid tomato;
    border-radius: 10px;
    height: 90px;
    padding: 10px 40px;
    box-shadow: 1px 5px 5px;
    
}
h1{
    color:turquoise;
}
div{
    font-size: 20px;
    width: 15%;
}
img{

    height: 300px;
}
#ol{
    color:rgb(42, 201, 27);
}
.ul, .color{
    color: fuchsia;
}
input[type="password"]{
    color: red;
}
input[type="email"]{
    color: greenyellow;
}
    